{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- <title>Document</title> -->
</head>
<body>
    <div class="main">
        <div class="box box-column">
            <div class="box__subject">로그인</div>
            <form clas="form" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <!-- 오류 출력 -->
                <div class="form__element">{{ error }}</div>
                <!-- 오류 출력 끝 -->
                <div class="form__element">
                    <label for="l-id">아이디</label>
                    <input class="form__input" id="l-id" name="username"  type="text" autocomplete="off">
                </div>
                <div class="form__element">
                    <label for="l-password">패스워드</label>
                    <input class="form__input" id="l-password" name="password"  type="password">
                </div>
                <div class="form__element">
                    <input id="l-checkbox" type="checkbox">
                    <label for="l-checkbox">로그인 상태 유지</label>
                </div>
                <div class="form__element form__element--zero">
                    <label for=""></label>
                    <input type="submit" class="form__button" value="로그인">
                </div>
                <div class="form__text">
                    <a class="" href="{% url 'found' %}">계정을 잊으셨나요?</a>
                    <a href="{% url 'signUp' %}">회원가입</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
