{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">
    <!-- <title>Document</title> -->
</head>
<body>
    <div class="main">
        <div class="box box-column">
            <div class="box__subject">회원가입</div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form__element">
                    <label for="">아이디</label>
                    <input class="form__input" type="text" name="username" >
                </div>
                <div class="form__element">
                    <label for="">이메일</label>
                    <input class="form__input" type="text" name="email" placeholder="example@example.com">
                </div>
                <div class="form__element">
                    <label for="">비밀번호</label>
                    <input class="form__input" type="password" name="password">
                </div>
                <div class="form__element">
                    <label for="">비밀번호 확인</label>
                    <input class="form__input" type="password" name="confirm">
                </div>
                <!-- <div id="register-name" class="register__element">
                    <label for="">이름</label>
                    <input class="main__register__form__input" type="text">
                </div> -->
                <div class="form__element">
                    <label for="">생년월일</label>
                    <input class="form__input" type="date" name="birth_date">
                </div>
                <div class="form__element">
                    <label for="">성별</label>
                    <select name="gender">
                        <option class="form__input" value = "m">male</option>
                        <option class="form__input" value = "f">female</option>
                        <option class="form__input" value = "o">other</option>
                    </select>
                    
                </div>
                <div class="form__element form__button">
                    <label for=""></label>
                    <input type="submit" class="form__input--button" value="회원가입">
                </div>
            </form>
        </div>
    </div>
    <div class="footer"></div>
</body>
</html>