{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <title>Document</title> -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">
</head>
<body>
    {% include "base/navbar.html" %}
    
    <div class="main">
        <div class="main__menu__box">
            <img src="main_menu_join.jpeg" class="main__menu__image">
            <div class="main__menu__name">스터디룸 참여</div>
        </div>
        <div class="main__menu__box">
            <img src="main_menu_register.jpeg" class="main__menu__image">
            <div class="main__menu__name">스터디룸 등록</div>
        </div>
        <div class="main__menu__box">
            <img src="main_menu_mystudyroom.jpeg" class="main__menu__image">
            <div class="main__menu__name">나의 스터디룸</div>
        </div>
        <div class="main__menu__box">
            <img src="main_menu_mypage.jpeg" class="main__menu__image">
            <div class="main__menu__name">마이페이지</div>
        </div>
    </div>

</body>
</html>