{% extends 'base/base.html' %}
{% block content %}
<div class="main">
    <div class="mt-32 p-8 w-96 border">
        <div class="text-xl font-semibold mb-4">로그인</div>
        <form class="" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <!-- 오류 출력 -->
            <div class="mb-4">{{ error }}</div>
            <!-- 오류 출력 끝 -->
            <div class="mb-4">
                <label for="l-id">아이디</label>
                <input class="form__input" id="l-id" name="username"  type="text" autocomplete="off">
            </div>
            <div class="mb-4">
                <label for="l-password">패스워드</label>
                <input class="form__input" id="l-password" name="password"  type="password">
            </div>
            <div class="mb-4">
                <input id="l-checkbox" type="checkbox" name="remember_session">
                <label for="l-checkbox">로그인 상태 유지</label>
            </div>
            <div class="mb-4 mb-4--zero">
                <label for=""></label>
                <input type="submit" class="form__button" value="로그인">
            </div>
            <div class="form__text">
                <a class="" href="{% url 'found' %}">계정을 잊으셨나요?</a>
                <a href="{% url 'signUp' %}">회원가입</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}