{% extends 'base/base.html' %}
{% block content %}
{% include "base/navbar.html" %}
<div class="main">
    <div class="page">
        {% include "studyrooms/studyroomMenu.html" %}
        <div class="page__content">
            {% include "studyrooms/studyroomBoard.html" %}
            <h1>제목 : {{post.title}}</h1>
            <p>작성 시간 : {{post.create_date}}</p>
            <p>작성자 : {{post.author.username}}</p>
            <p>내용 : {{post.content}}</p>
            <a href="{% url 'board' post.thema post.studyroom.id %}">뒤로가기</a>
            <a href="{% url 'postdelete' post.id %}">글삭제</a>
            <br><br>

            <h3>댓글</h3>
            <form action="{% url 'detail' room_id post.id %}" method ="POST">
                {% csrf_token %}
                <input type = "text" name = "content" />
                <input type = "submit" />
            </form>
            {% for comment in comments %}
                <div>
                <p>{{comment.content}}</p>
                <p>{{comment.author}}</p>
                {% if comment.author == request.user %}
                    <a href="{% url 'commentdelete' room_id post.id comment.id %}">댓글 삭제</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}