{% extends 'base/base.html' %}
{% block content %}
{% include "base/navbar.html" %}
<div class="main">
    <div class="page">
        {% include "studyrooms/studyroomMenu.html" %}
        <div class="page__content">
            {% include "studyrooms/studyroomBoard.html" %}
            <!-- hello/templates/postnew.html -->

            <form action="{% url 'postcreate' board_thema room_id %}" method="post">
                {% csrf_token %}
                <div>
                <label for="title">제목</label><br>
                <input type="text" name="title" id="title">
                </div>
                <div>
                    <label for="content">내용</label><br>
                <textarea name="content" id="content" cols="30" rows="10"></textarea>
                </div>
                <input type="submit" value="글쓰기">
            </form>
        </div>
    </div>
</div>
{% endblock %}