{% extends 'base/base.html' %}
{% block content %}
{% include "base/navbar.html" %}
<div class="flex flex-col items-center">
    <div class="mt-12 w-2/3">
        <table class="border-collapse w-full">
            <thead>
                <tr class="h-12 border-b border-gray-500">
                    <th class="text-left" scope="col">#</th>
                    <th class="text-left" scope="col">스터디 이름</th>
                    <th class="text-left" scope="col">설명</th>
                </tr>
            </thead>
            <tbody>
            {% for studyroom in studyrooms %}
                <tr class="h-12 border-b">
                    <td class="w-1/12">{{ studyroom.pk }}</th>
                    <td class="w-4/12">
                        <a href="{% url 'studyroom' studyroom.pk %}">
                            {{ studyroom.studyroom_name }}
                        </a>
                    </td>
                    <td class="w-7/12">
                        <a href="{% url 'studyroom' studyroom.pk %}">
                            {{ studyroom.studyroom_classification }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        {% for page in pages %}
        <a class="pagination__block" href="{% url 'studyroomJoin' %}?page={{ page }}">{{ page }}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}