{% extends 'base/base.html' %}
{% block content %}
{% include "base/navbar.html" %}
<div class="main">
    <div class="container">
        <form class="form" action="{% url 'studyroomMake' %}" method="POST" onsubmit="return confirm('정말로 스터디룸을 만드시겠습니까?');">
            {% csrf_token %}
            <div class="form__element">
                <label for="">스터디 이름</label>
                <input name="studyroom_name" class="form__input--inline" type="text">
            </div>
            <div class="form__element">
                <label for="">공개범위</label>
                {% for tag in tags %}
                    <span>
                        <input type="checkbox">
                        <label for="">{{ tag.name }}</label>
                    </span>
                {% endfor %}
            </div>
            <div class="form__element">
                <label for="">분야</label>
                <input name="몬가몬가잇슴.." class="form__input--inline" type="text">
            </div>
            <div class="form__element">
                <label for="">스터디 소개</label>
                <textarea class="form__textarea" name="studyroom_classification" id="" cols="10" rows="5"></textarea>
            </div>
            <div class="form__element form__element--zero form__right">
                <label for=""></label>
                <input type="submit" class="form__button--right" value="등록">
            </div>
        </form>
    </div>
</div>
{% endblock %}