{% extends 'base/base.html' %}
{% block content %}
{% include "base/navbar.html" %}
<div class="flex flex-col items-center">
    <div class="mt-16 grid gap-8 xl:grid-cols-3 lg:grid-cols-2">
        {% for studyroom in studyrooms %}
        <div class="inline-block w-96 h-52 p-4 border rounded">
            <div class="text-xl font-semibold h-1/4">{{ studyroom.studyroom_name }}</div>
            <div class="h-1/2 break-words">{{ studyroom.studyroom_classification }}</div>
            <div class="h-1/2 float-right">
                <a href="{% url 'studyroom' studyroom.pk %}">
                    <input type="submit" class="p-3 w-24 rounded bg-gray-200 hover:bg-gray-300" value="공부하기">
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        {% for page in pages %}
        <a class="pagination__block" href="{% url 'studyroomMy' %}?page={{ page }}">{{ page }}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}