{% extends 'base/base.html' %}
{% block content %}
{% include "base/navbar.html" %}
<div class="flex flex-col items-center">
    <div class="page">
        {% include "studyrooms/studyroomMenu.html" %}
        <div class="page__content">
            <div class="mb-3">
                {{ error_message }}
            </div>
            <table class="border-collapse w-full">
                <thead>
                    <tr class="h-12 border-b border-gray-500">
                        <th class="text-left" scope="col">아이디</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr class="h-12 border-b border-gray-200">
                        <td>{{ user.username }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}