{% extends 'base/base.html' %}
{% block content %}
{% include "base/navbar.html" %}
<div class="main">
    <div class="page">
        {% include "studyrooms/studyroomMenu.html" %}
        {% if isCaptain == False %}
        <div class="page__content">
            <div class="text-4xl font-semibold">
                접근 권한이 없습니다
            </div>
        </div>
        {% else %}
        <div class="page__content">
            <div class="mb-3">
                {{ error_message }}
            </div>
            <table class="border-collapse w-full">
                <thead>
                    <tr class="h-12 border-b border-gray-500">
                        <th class="w-1/2 text-left" scope="col">아이디</th>
                        <th class="w-1/2 text-left" scope="col">작업</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr class="h-12 border-bottom border-gray-200">
                        <td>{{ user.username }}</td>
                        <td>
                            <button class="confirm-button" data-id="{{ user.pk }}" data-choice="ban">추방</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const congirmButtons = document.querySelectorAll('.confirm-button')
    congirmButtons.forEach(function (button) {
        button.addEventListener('click', function (event) {
            const userId = event.target.dataset.id
            const choice = event.target.dataset.choice
            const data = {
                userId: userId,
                choice: choice
            }
            axios.defaults.xsrfCookieName = 'csrftoken'
            axios.defaults.xsrfHeaderName = 'X-CSRFToken'
            axios.post(`{% url 'studyroomManage' room_id  %}`,
                JSON.stringify(data),
                {
                    headers: {
                        "Content-Type": 'application/json'
                    }
                }
            )

                .then(request => {
                    window.location.reload()
                })
        })
    })
</script>
{% endblock %}