
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    {% include "base/title.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include "base/navbar.html" %}
    <div class="main">
        <div class="page">
            {% include "studyrooms/studyroomMenu.html" %}
            {% if isCaptain == False %}
            <div class="page__content">
                <div class="page__alert">
                    접근 권한이 없습니다
                </div>
            </div>
            {% else %}
            <div class="page__content">
                <table class="table--join">
                    <thead>
                        <tr>
                            <th scope="col">아이디</th>
                            <th scope="col">신청 내용</th>
                            <th scope="col">수락 / 거절</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>아이디값</td>
                            <td>신청내용값</td>
                            <td>수학/거절</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
