{% extends 'base/base.html' %}
{% block content %}
{% include "base/navbar.html" %}
<div class="main">
    <div class="page">
        <div class="flex flex-col w-44">
            <a href="{% url 'studyroomCalendar' room_id %}" class="text-center"><span class="text-2xl font-semibold mb-4">스터디룸 달력</span></a>
            <div class="text-center text-xl font-semibold mt-16">{{ year }}, {{ month_eng }}</div>
            <div class="text-center text-9xl font-semibold mt-4">{{ day }}</div>
        </div>
        <div class="page__content">
            <div class="text-4xl font-semibold">{{ error_message }}</div>
            <div>
                {% for task in tasks %}
                <div class="border rounded p-4 text-lg">
                    <div class="flex justify-between font-semibold">
                        <div>{{ task.progress }} - {{ task.learning_time }}</div>
                        <div>{{ task.writer }}</div>
                    </div>
                    <div>
                        {{ task.content }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}