<div class="border border-gray-300 bg-gray-50 rounded mb-3 py-4">
    <a href="{% url 'board' 'n' room_id %}" class="p-3 m-3 w-24 rounded-full bg-gray-200 hover:bg-gray-300">
        공지게시판
    </a>
    <a href="{% url 'board' 'f' room_id %}" class="p-3 m-3 w-24 rounded-full bg-gray-200 hover:bg-gray-300">
        자유게시판
    </a>
    <a href="{% url 'board' 'q' room_id %}" class="p-3 m-3 w-24 rounded-full bg-gray-200 hover:bg-gray-300">
        질문게시판
    </a>
    <a href="{% url 'board' 'i' room_id %}" class="p-3 m-3 w-24 rounded-full bg-gray-200 hover:bg-gray-300">
        정보게시판
    </a>
</div>