{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% include "base/title.html" %}
</head>
<body>
    {% include "base/navbar.html" %}
    <div class="main">
        <div class="page">
            {% include "mypage/menu.html" %}
            <div class="page__content">
                <!--임시 내 정보-->
                이름 : {{name}} <br>
                이메일 : {{email}}<br>
                성별 : {{gender}}<br>
                생일 : {{birthDate}}<br>
            </div>
        </div>
    </div>
</body>
</html>