{% extends 'base/base.html' %}
{% block content %}
{% include "base/navbar.html" %}
<div class="main">
    <div class="page">
        {% include "mypage/menu.html" %}
        <div class="page__content">
            <form action="{% url 'myPassword' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    {{ error_message }}
                </div>
                <div class="mb-3">
                    <label class="inline-block w-32" for="l-cp">현재 비밀번호:</label>
                    <input class="border-0 border-b border-gray-400" name="current_password" type="password" id="l-cp">
                </div>
                <div class="mb-3">
                    <label class="inline-block w-32" for="l-np">새 비밀번호:</label>
                    <input class="border-0 border-b border-gray-400" name="new_password" type="password" id="l-np">
                </div>
                <div class="mb-3">
                    <label class="inline-block w-32" for="l-npr">새 비밀번호 반복:</label>
                    <input class="border-0 border-b border-gray-400" name="new_password2" type="password" id="l-npr">
                </div>
                <div class="mb-3">
                    <input class="p-4 w-20 rounded" type="submit" value="확인" id="">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}