{% load static %}

<!-- <span>{{ testData }}</span> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'login/register.css' %}">
    <!-- <title>Document</title> -->
</head>
<body>
    <div class="main">
        <div id="main__register">
            <div id="main__register__subject">회원가입</div>
            <form id="main__register__form" action="" method="POST">
                <div id="register-id" class="register__element">
                    <label for="">이메일</label>
                    <input class="main__register__form__input" type="text" placeholder="example@example.com">
                </div>
                <div id="register-password" class="register__element">
                    <label for="">비밀번호</label>
                    <input class="main__register__form__input" type="text">
                </div>
                <div id="register-password-confirm" class="register__element">
                    <label for="">비밀번호 확인</label>
                    <input class="main__register__form__input" type="text">
                </div>
                <div id="register-name" class="register__element">
                    <label for="">이름</label>
                    <input class="main__register__form__input" type="text">
                </div>
                <div id="register-birth" class="register__element">
                    <label for="">생년월일</label>
                    <input class="main__register__form__input" type="text">
                </div>
                <div class="register__element" id="register-button">
                    <label for=""></label>
                    <button>회원가입</button>
                </div>
            </form>
        </div>
    </div>
    <div class="footer"></div>
</body>
</html>