{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    <!-- <title>Document</title> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include "base/navbar.html" %}
    <div class="main">
        <div class="container--studyroomjoin">
            <table class="table--join">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">분야</th>
                        <th scope="col">스터디 이름</th>
                    </tr>
                </thead>
                <tbody>
                {% for studyroom in studyrooms %}
                    <tr>
                        <td>{{ studyroom.studyroom_number }}</th>
                        <td>필드</td>
                        <td>
                            <a href="{% url 'studyroom' studyroom.studyroom_number %}">
                                {{ studyroom.studyroom_name }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                {% for page in pages %}
                <a class="pagination__block" href="{% url 'studyroomJoin' %}?page={{ page }}">{{ page }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

</body>
</html>