{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<nav>
    <div class="container">
        <div class="nav__element" id="nav__logo">
            <span class="nav__logo__element"><a href="{% url 'main' %}">Logo</a></span>
        </div>
        <div class="nav__element" id="nav__menu">
            <span class="nav__menu__element"><a href="">스터디룸 참여</a></span>
            <span class="nav__menu__element"><a href="">스터디룸 등록</a></span>
            <span class="nav__menu__element"><a href="">나의 스터디룸</a></span>
            <span class="nav__menu__element"><a href="{% url 'mypage' %}">마이페이지</a></span>
            <span class="nav__menu__element"><a href="{% url 'login' %}">로그인</a></span>
        </div>
    </div>
</nav>
