@media (min-width: 768px) {
    body{
        font-family: "Noto Sans KR", sans-serif, 나눔고딕, 돋움, Dotum, 굴림, Gulim, "Apple SD Gothic Neo" !important;
        margin: 0;
    }
    a {
        text-decoration: none;
    }

    .nav{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        font-size: 20px;
        background: white;
        border-bottom: 1px solid rgb(238, 238, 238);
    }

    .nav__logo{
        margin-left: 32px;
        padding: 16px 0 16px 0;
        font-weight: 600;
    }
    .nav__menu{
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        margin-right: 16px;
    }
    .nav__link{
        padding: 16px 0 16px 0;
        margin-right: 16px;
        white-space: nowrap;
        font-weight: 600;
        color: rgb(60, 60, 60);
        border-bottom: solid 3px transparent;
    }
    .nav__link:hover{
        border-color: lightgray;
    }
}