body{
    font-family: "Noto Sans KR", sans-serif, 나눔고딕, 돋움, Dotum, 굴림, Gulim, "Apple SD Gothic Neo" !important;
    height: 100%;
    background: rgb(250, 250, 250);
}
a {
    /* 링크 밑줄 제거 */
    color: black;
    text-decoration:none;
}

.main{
    display: flex;
    /* text-align: center; */
    align-items: center;
    flex-direction: column;
}

.box{
    margin-top: 8rem;
    padding: 2rem;
    border: 1px solid rgb(224, 224, 224);
    background-color: white;
}

.box-column{
    width: 20rem;
}

.box__subject{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.form__element{
    margin-bottom: 1rem;
}
.form__element--zero{
    margin-bottom: 0;
}

.form__input{
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.5;
    border-style: none none solid none;
    border-color: currentcolor currentcolor rgb(238, 238, 238);
    font-size: 1rem;
    outline: currentcolor none medium;
}

.form__input--inline{
    width: 10rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.5;
    border-style: none none solid none;
    border-color: currentcolor currentcolor rgb(238, 238, 238);
    font-size: 1rem;
    outline: currentcolor none medium;
    margin-left: 0.5rem;
}

.form__button{
    background-color: rgb(225, 225, 225);
    width: 100%;
    height: 2.5rem;
    border-radius: 4px;
    border: none;
    /* font-weight: 500; */
    font-size: 1rem;
}
.form__button--right{
    background-color: rgb(225, 225, 225);
    width: 6rem;
    height: 2.5rem;
    border-radius: 4px;
    border: none;
    /* font-weight: 500; */
    font-size: 1rem;
    margin-right: 0.5rem;
}

.form__text{
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

.form__right{
    display: flex;
    justify-content: right;
}

.form__textarea{
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.5;
    border-style: solid;
    border-color: rgb(228, 228, 228);
    font-size: 1rem;
    outline: currentcolor none medium;
    resize: none;
}
/* found page에서 사용. 추후 이름 변경 content */
.content{
    display: flex;
    flex-direction: row;
}

.content__button{
    display: block;
    margin: 0.5rem;
    padding: 3rem;
    background-color: rgb(225, 225, 225);
    /* width: 100%; */
    height: 2.5rem;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    white-space: nowrap;
    flex-grow: 1;
    font-size: 1.2rem;
    width: 7rem;
    /* height: 0; */
}

.container{
    width: 768px;
    margin: 2rem auto 0 auto;
    padding: 1rem;
    background: white;
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(224, 224, 224);
}

.container--studyroomlist{
    width: 1000px;
    margin: 2rem auto 0 auto;
    padding: 1rem;
    background: white;
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(224, 224, 224);
    height: 10rem;
}
.container--studyroomjoin{
    width: 1400px;
    margin: 2rem auto 0 auto;
    padding: 1rem;
    background: white;
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(224, 224, 224);
}

.container__subject{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.container__content{
    height: 5rem;
}

.container__footer{
    display: flex;
    justify-content: right;
}

.container__button{
    background-color: rgb(225, 225, 225);
    width: 6rem;
    height: 2.5rem;
    border-radius: 4px;
    border: none;
    /* font-weight: 500; */
    font-size: 1rem;
    margin-right: 0.5rem;
}