@media (min-width: 768px) {
    body{
        font-family: "Noto Sans KR", sans-serif, 나눔고딕, 돋움, Dotum, 굴림, Gulim, "Apple SD Gothic Neo" !important;
        margin: 0;
    }
    a {
        text-decoration: none;
    }

    .nav{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        font-size: 20px;
        background: white;
        border-bottom: 1px solid rgb(238, 238, 238);
    }

    .nav__logo{
        margin-left: 32px;
        padding: 16px 0 16px 0;
        font-weight: 600;
    }
    .nav__menu{
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        margin-right: 16px;
    }
    .nav__link{
        padding: 16px 0 16px 0;
        margin-right: 16px;
        white-space: nowrap;
        font-weight: 600;
        color: rgb(60, 60, 60);
        border-bottom: solid 3px transparent;
    }
    .nav__link:hover{
        border-color: lightgray;
    }
}

body{
    font-family: "Noto Sans KR", sans-serif, 나눔고딕, 돋움, Dotum, 굴림, Gulim, "Apple SD Gothic Neo" !important;
    height: 100%;
    background: rgb(255, 255, 255);
}
a {
    /* 링크 밑줄 제거 */
    color: black;
    text-decoration:none;
}

.main{
    display: flex;
    /* text-align: center; */
    align-items: center;
    flex-direction: column;
}

.main--row{
    display: flex;
    /* text-align: center; */
    justify-content: center;
    flex-direction: row;
}

.page{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.page__content{
    margin-left: 130px;
    width: 800px;
}

.info{
    margin-top: 20px;
    border-collapse: collapse;
}

.info tr{
    border-top: solid 1px rgb(200, 200, 200);
}

.info tr:last-child{
    border-bottom: solid 1px rgb(200, 200, 200);
}

.info td{
    height: 50px;
    font-size: 18px;
}

.info td:nth-child(1){
    font-size: 20px;
    width: 250px;
    font-weight: 600;
    border-right: solid 1px rgb(200, 200, 200);
    text-align: right;
    padding-right: 15px;
    color:rgb(80, 80, 80);
    background-color: rgb(250, 250, 250);
}

.info td:nth-child(2){
    width: 550px;
    padding-left: 15px;
}

.profile{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
}

.profile__header{
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    width: 19%;
}

.profile__header__main{
    font-size: 24px;
    font-weight: 600;
}

.profile__header__sub{
    font-size: 14px;
    margin-top: 3px;
}

.profile__box{
    padding: 70px 0 70px 0;
    text-align: center;
    border-right: 1px solid rgb(238, 238, 238);
    width: 27%;
    background-color: white;
}

.profile__box--solo{
    font-size: 22px;
    font-weight: 600;
}

.profile__box--multi{
    display: flex;
    flex-direction: column;
}

.profile__box__main{
    font-size: 22px;
    font-weight: 600;
}

.profile__box__sub{
    margin-top: 10px;
    font-size: 19px;
}

.form__input{
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.5;
    border-style: none none solid none;
    border-color: currentcolor currentcolor rgb(238, 238, 238);
    font-size: 16px;
    outline: currentcolor none medium;
}

.form__input--inline{
    width: 160px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.5;
    border-style: none none solid none;
    border-color: currentcolor currentcolor rgb(238, 238, 238);
    font-size: 16px;
    outline: currentcolor none medium;
    margin-left: 8px;
}

.form__button{
    background-color: rgb(225, 225, 225);
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: none;
    /* font-weight: 500; */
    font-size: 16px;
}

.form__button--right{
    background-color: rgb(225, 225, 225);
    width: 96px;
    height: 40px;
    border-radius: 4px;
    border: none;
    /* font-weight: 500; */
    font-size: 16px;
    margin-right: 8px;
}

.form__button:hover{
    background-color: rgb(200, 200, 200);
}

.form__button--right:hover{
    background-color: rgb(200, 200, 200);
}


.form__text{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.form__right{
    display: flex;
    justify-content: right;
}

.form__textarea{
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.5;
    border-style: solid;
    border-color: rgb(228, 228, 228);
    font-size: 16px;
    outline: currentcolor none medium;
    resize: none;
}
/* found page에서 사용. 추후 이름 변경 content */
.content{
    display: flex;
    flex-direction: row;
}

.content__button{
    display: block;
    margin: 8px;
    padding: 48px;
    background-color: rgb(225, 225, 225);
    height: 40px;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    font-size: 19px;
    text-align: center;
    white-space: nowrap;
    flex-grow: 1;
    width: 112px;
}

.content__button:hover{
    background-color: rgb(200, 200, 200);
}

.container{
    width: 768px;
    margin: 32px auto 0 auto;
    padding: 16px;
    background: white;
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(224, 224, 224);
}

.container--studyroomlist{
    width: 1000px;
    margin: 32px auto 0 auto;
    padding: 16px;
    background: white;
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(224, 224, 224);
    height: 160px;
}
.container--studyroomjoin{
    width: 1100px;
    margin: 32px auto 0 auto;
    padding: 16px;
    background: white;
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(150, 150, 150);

    display: flex;
    /* text-align: center; */
    align-items: center;
    flex-direction: column;
}


.container__line{
    border-top: 2px solid rgb(200, 200, 200);
    width: 98%;
    margin: 0 auto 8px auto;
}

.container__h1{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 24px;
}

.container__dict{
    margin-bottom: 16px;
}

.container__key{
    font-size: 20px;
    font-weight: 600;
}

.container__value{
    font-size: 20px;
}

.lobby{
    display: flex;
    /* text-align: center; */
    justify-content: center;
    /* flex-direction: column; */
    margin-top: 3rem;
}

.lobby__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 550px;
    margin: 0 32px;
    border-radius: 16px;
    transition: 0.5s;
    background: #efefef;
}
.lobby__box:hover {
    width: 250px;
    height: 570px;
    background: lightgray;
    transition: 0.5s;
}

.lobby__name{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 300px;
}

.pagination{
    margin-top: 32px;
    margin-bottom: 32px;
}

.pagination__block{
    padding: 16px;
    background: white;
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(224, 224, 224);
    margin: 0 6px 0 6px;
    font-weight: 600;
}

.pagination__block:hover{
    background-color: rgb(240, 240, 240);
}

.table--join{
    border-collapse: collapse;
}


.table--join tr{
    height: 50px;
    border-bottom: solid 1px rgb(224, 224, 224);
}

.table--join thead>tr{
    height: 50px;
    border-bottom: solid 1px rgb(150, 150, 150);
}

.table--join th{
    text-align: left;
}

.table--join th:nth-child(1){
    width: 100px;
}

.table--join th:nth-child(2){
    width: 300px;
}

.table--join th:nth-child(3){
    width: 700px;
}