body{
    font-family: "Noto Sans KR", sans-serif, 나눔고딕, 돋움, Dotum, 굴림, Gulim, "Apple SD Gothic Neo" !important;
    height: 100%;
    background: rgb(250, 250, 250);
}
a {
    /* 링크 밑줄 제거 */
    color: black;
    text-decoration:none;
}


.main{
    display: flex;
    /* text-align: center; */
    align-items: center;
    flex-direction: column;
}

#main__idfound{
    margin-top: 8rem;
    padding: 2rem;
    border: 1px solid rgb(224, 224, 224);
    width: 20rem;
    background-color: white;
}

#main__idfound__subject{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.idfound__element{
    margin-bottom: 1rem;
}

.main__idfound__form__input{
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.5;
    border-style: none none solid none;
    border-color: currentcolor currentcolor rgb(238, 238, 238);
    font-size: 1rem;
    outline: currentcolor none medium;
}

#idfound-button{
    margin-bottom: 0;
}

#idfound-button>button{
    background-color: rgb(225, 225, 225);
    width: 100%;
    height: 2.5rem;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 1rem;
}

