body{
    font-family: 'Apple SD Gothic Neo',arial,sans-serif;
}
a {
    /* 링크 밑줄 제거 */
    color: black;
    text-decoration:none;
}

.nav{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    font-size: 1.1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;

    border-bottom: 1px solid black;
}
.nav__element{
    display: flex;
}

#nav__left{
    margin-left: 1rem;
}
#nav__right{
    justify-content: flex-end;
    margin-left: auto;
}

.nav__right__element{
    margin-right: 1rem;
}

.main{
    display: flex;
    /* text-align: center; */
    align-items: center;
    flex-direction: column;
}

.main__login{
    padding: 2rem;
    border: 1px solid rgb(224, 224, 224);
    width: 376px;
}

#main__login__subject{
    font-size: 2rem;
}